---
layout: page
title: Sessies
---
{% for sessie in site.sessies %}
  <div id = "{{sessie.title | cgi_escape}}" class="sessie">
    <h3> {{ sessie.titel }} </h3>
    <p><b>Tijd: {{ sessie.tijd }}</b><br/>    
    <b>Locatie: {{ sessie.locatie }}</b></p>
    {% if  sessie.sprekers.size > 1 %}
      Sprekers:
    {% else %}
      Spreker:
    {% endif %}
    {% for spreker_ref in sessie.sprekers %}
    	{% for spreker in site.sprekers %}
    	   {% if spreker_ref == spreker.ref %}<a href="\sprekers#{{spreker.ref}}"> {{ spreker.naam }} </a> &nbsp;{% endif %}
    	{% endfor %}
    {% endfor %}
    {{ sessie.content }}
  </div>
{% endfor %}